# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore

# Git directories and files
.git/
.gitignore

# Python cache directories
__pycache__/
*.pyc

# Node.js dependencies
node_modules/

# Frontend build artifacts
/dist/
/build/
/public/

# Virtual environments
venv/
env/

# Environment configuration files
*.env
*.config.js

# Setup configuration
/setup.cfg

# Logs and documentation
*.log
*.md

# Other unnecessary files or directories
other_temporary_directory/
