.historial-container {
    background: radial-gradient(circle, #2A2A2A 10%, #0A0A0A 100%);
    color: white;
    padding: 20px 50px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
    /* Personalización de la barra de desplazamiento */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #000 #000; /* Firefox */
    padding-top: 100px;
    display: flex;        /* Añadido para permitir centrar los contenidos */
    flex-direction: column; /* Añadido para estructurar correctamente los elementos como columnas */

}

/* Estilos para navegadores WebKit como Chrome, Safari, y Edge */
.historial-container::-webkit-scrollbar {
    width: 5px; /* Hacer la barra más delgada */
}

.historial-container::-webkit-scrollbar-track {
    background: #000; /* Color del track */
}

.historial-container::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados para el thumb */
}

.historial-container::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Cambio de color al pasar el mouse */
}

/* Eliminar las flechas de la barra de desplazamiento */
.historial-container::-webkit-scrollbar-button {
    display: none;
}

.historial-container button {
    background-color: #4CAF50; /* Solo botones dentro de .historial-container */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.historial-container button:hover {
    background-color: #45a049;
}

.historial-container .historial-table {
    width: 100%; /* Ajuste del ancho */
    border-collapse: separate; /* Esto permite el manejo independiente de bordes */
    border-spacing: 0; /* Elimina el espacio entre las celdas */
    margin: 20px auto; /* Centrado y espacio alrededor de la tabla */
    background-color: transparent;
}


.historial-container .historial-table th,
.historial-container .historial-table td {
    border: none; /* Bordes negros para celdas y encabezados */
    padding: 8px; /* Espaciado dentro de celdas */
    text-align: center; /* Alineación del texto al centro puede ayudar */
    vertical-align: middle; /* Asegura que el contenido de la celda se alinee verticalmente al medio */
}

.historial-container .historial-table th {
    background-color: #808080; /* Fondo gris oscuro para los encabezados */
    color: white; /* Texto blanco para los encabezados */
    border: 1px solid black; /* Mantén los bordes solo para th */
}
.historial-container .historial-table thead tr {
    border-radius: 20px; /* Bordes redondeados para el bloque de encabezados */
}

.historial-container .historial-table th:first-child {
    border-top-left-radius: 20px; /* Redondea solo la esquina superior izquierda */
    border-bottom-left-radius: 20px; /* Redondea solo la esquina inferior izquierda */
}

.historial-container .historial-table th:last-child {
    border-top-right-radius: 20px; /* Redondea solo la esquina superior derecha */
    border-bottom-right-radius: 20px; /* Redondea solo la esquina inferior derecha */
}

.header-container {
    width: 100%; /* Ancho completo */
    height: 80px; /* Altura fija para minimizar el espacio */
    background-color: #000; /* Fondo negro */
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre el logo y los botones */
    align-items: center; /* Alineación vertical de los elementos al centro */
    padding: 0 20px; /* Padding horizontal para no pegar el logo a los bordes */
    position: fixed; /* Mantiene el encabezado fijo en la parte superior de la pantalla */
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

}
.header-container button {
    background-color: #000; /* Fondo negro específico para botones en header */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header-container button:hover {
    background-color: #333; /* Gris oscuro al pasar el cursor */
}
.logo {
    height: 140px; /* Altura fija para el logo */
    width: 140; /* Ancho automático basado en la proporción del logo */
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los botones horizontalmente */
    flex-grow: 1; /* Ocupar el espacio disponible en el encabezado */
    gap: 20px; /* Espacio entre botones */
}
.historial-container .filter-button {
    background-color: #ff0000; /* Color rojo para el botón de filtro */
    color: white;
    padding: 10px 10px;
    margin: 0 5px; /* Ajustar márgenes para alinear con otros botones si es necesario */
    border-radius: 5px; /* Redondeado para coincidir con el estilo general */
    border: none; /* Sin borde */
    cursor: pointer;
    width: 10%; /* Ajustar el ancho automáticamente al contenido */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el hover */
}

.historial-container .filter-button:hover {
    background-color: #B71C1C; /* Color más oscuro para hover */
}


.filter-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el select de filtro y los inputs de fecha */
    margin-top: 20px; /* Espaciado adicional si es necesario */
}

.date-filters {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los inputs de fecha */
}

.date-filters input {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000; /* Bordes rojos */
    padding: 8px;
    border-radius: 5px;
    width: 150px; /* Ancho del input */
    cursor: pointer;
}

.filter-button {
    background-color: #ff0000; /* Color rojo para el botón de filtro */
    color: white;
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px; /* Ajustar el ancho */
    transition: background-color 0.3s ease-in-out;
}

.filter-button:hover {
    background-color: #B71C1C; /* Color más oscuro al pasar el mouse */
}

.exercise-select {
    margin-left: 10px; /* Ajusta la separación del botón */
}

.select-exercise {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s ease-in-out;
}

.select-exercise:hover {
    background-color: #B71C1C; /* Color más oscuro al pasar el mouse */
}
